body
{
    background-color: rgb(207, 247, 246);
    background-image: url("p3.jpeg");
    background-size: cover;
    background-attachment: fix; /*absolute o fix*/
    /*Si la imagen es un mosaico que se repite poner el : no repet */
    margin: 50px;
    
}
img{
    width: 300px;
  height: auto;

}
footer{
    text-align: center;
    background-color: aliceblue;
}
